.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    /* Rounded corners for left side */
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    /* Rounded corners for right side */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #45a049;
}